/*  */
* {
  box-sizing:border-box;
}

body {
  margin:0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:20px;
}
.home {  
  background: lightblue;
}
li {
  margin-bottom: .7rem;
}

main {
  width:80%;
  margin: auto;
  border-radius: 40px;
  background-color: white;
  margin-top:80px;
  padding:60px;
}

svg {
  max-width:50%;
}
@keyframes example {
  0% {top: 0px;}
  100% {top: 200px;}
}
